*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
  color: rgb(255, 21, 0);
}

h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(3, 255, 154);
    font-size: 40px;
    padding: 20px;
    }

  .menu{
  font-size: 34px;
  color: rgb(250, 250, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(17, 0, 0);
  padding: 20px 3px;
  max-width: 20px;
  nav-down: auto;
  max-width: max-content;
  display: flow-root;
  }

.ESTRELLA:hover{
    transform: scale(1.2)
   
}




