

h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(3, 255, 154);
    font-size: 40px;
    padding: 20px;
    }

  .menu{
  font-size: 34px;
  color: rgb(129, 0, 250);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: aqua;
  padding: 2px;
  nav-down: auto;
  max-width: max-content;
  text-decoration: none;
  }



