*{
padding: 1%;
margin: 2%;
box-sizing: border-box;}

.CAJAFLEX{
display: flex;
flex-wrap: wrap;
padding: 10px;
margin: 10px;
border: 5px solid #f386dd;
}

.CAJAFLEX .luz{background-color: rgb(39, 46, 56);
width: 450px;
height: 700px;
margin: 20px;
padding-right: 20px;
text-align: center;
line-height: 30px;
font-size: 32px;
color: #739600;
}

.ESTRELLA{height: auto;
    width: auto;
    margin-top: 30px;
    min-width: 280px;
    max-height: 270px;
    border-radius: 99%;
}









